[Desktop Entry]
Name=KDirTester
Comment=Test KDirmodel
Icon=knotes
Type=Service
X-Plasma-API=declarativeappletscript
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Author=Tino Lorenz
X-KDE-PluginInfo-Email=tilrnz@gmx.net
X-KDE-PluginInfo-Name=com.github.tilorenz.kdirtester
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://github.com/tilorenz/kdirtester
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-EnabledByDefault=true
